<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
  <script src="https://cdn.jsdelivr.net/npm/es6-module-loader@0.17.11/dist/es6-module-loader.js"></script>
</head>
<body>
  <%= header %>
  <div id="box">12</div>
  <ul id="hours"></ul>
  <a href="cli.html">跳转到cli页面</a>
  <img src="./imgs/avatar.png" />

  <%= footer %>
  
</body>
</html>

<script>
  import Pages from './Pages'
  new Pages()
  const dom = document.querySelectorAll('.header')
  console.log(dom)
</script>